src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d23c9519-fca1-4baf-bbe5-ac4a8a6f4eb5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="03e911cd-391b-4011-836c-5ecda9029834" >
		<http:listener doc:name="Listener" doc:id="2070cd48-2adb-4bdb-8b58-ea532ef9ef88" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['Hello World!']" doc:name="Set Payload" doc:id="ae17940e-bd94-452c-9291-500b0881b1c8" />
		<logger level="INFO" doc:name="Logger" doc:id="27acfad0-5477-4a45-bde0-e52d339cd277" message="#[payload]"/>
	</flow>
</mule>
